@mixin btn-general {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.item-btn-danger {
    @include btn-general;
    color: white;
};

.item-btn-warning {
    @include btn-general;
    color: white;
}
.item-btn-success {
    @include btn-general;
    color: #535353;
}
.item-btn-primary {
    @include btn-general;
    color: #474747;
}

.input-field{
    height: 36px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #535353;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    background-color: white;
}