.btn-normal {
    padding: 10px 20px 10px 20px;

    background-image: linear-gradient(to right, #ffee02, #c37c01);
    /* border-radius: 12px; */
    text-shadow: #000000;
}

.btn-normal:hover {
    background-image: none;
    background-color: transparent !important;

    outline: 2px solid #ffee02;
    outline-offset: -2;

    /* border-width: 2px;
    border-color: #ffb300; */
}

.bg {
    background-color: #f1ece5;
}

.color-main {
    color: #c9a100;
}

.list-button {
    color: #1a1a1a;
    border-style: solid;
    border-width: 2px;
    border-color: #434343;
    border-radius: 15px;
    padding: 5 15;
    font-size: 12px;
    font-weight: bold;
}

.list-button:hover {
    background-color: #da9b30;
    border-color: #da9b30;
    color: white;
    font-weight: bold;
}

.title-text {
    font-size: 12px;
    font-weight: bold;
}

.title-header-1 {
    font-size: 50px;
}

.title-header-2 {
    font-size: 50px;
}

.title-header-3 {
    font-size: 20px;
    font-weight: bold;
}

.text-item-header {
    color: #434343;
    font-weight: 600;
    font-size: 15px;
}

.text-item-body {
    color: #434343;
    font-weight: 600;
    font-size: 15px;
}

.text-item-regular {
    font-size: 15px;
}

.div-menu {
    display: flex;
    gap: 8px;
    align-items: center;
    border-bottom-width: 0.5px;
    border-style: dashed;
    border-color: #dcdcdc;
    padding: 5px 2px 5px 2px;
}

.text-admin-menu {
    font-size: 13px;
    font-weight: 550;
    color: #585656
}

.icon-admin-menu {
    font-size: 20px;
}